{% extends "encyclopedia/layout.html" %} 

{% block title %} Create {% endblock %}

{% block body %}
    
    <div class="create-entry">
        <div class="container">
            <h2 style="margin-bottom: 1.2rem;">Create a new entry</h2>
        <form action="{% url 'create' %}" method="POST">
            {% csrf_token %}
            <label><strong>Title</strong></label>
            {{form.title}}
            <br>
            {{form.textarea}}
            <br>
            <button class="btn btn-primary">Save</button>
        </form>
        </div>
        
    </div>
{% endblock %}