{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit | {{ title }} 
{% endblock %}

{% block body %} 
    <div class="edit-entry">
        <div class="container">
            <form action="{% url 'edit' title %}" method="POST">
                <h2>Edit this page...</h2>
                {% csrf_token %}
                <div class="container">
                <label><strong>Title</strong></label>
                {{ form.title }}
                <br>
                {{form.textarea}}
                <br>
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
            </form>
        </div>
        
    </div>
    
{% endblock %}